---
import PriceC from '~/components/price_section.astro'
import type { ClotheItem } from '~/types';

const { id } = Astro.params;

const clothesJson = await fetch('https://api.melushclothes.com/store_public')
    .then((res) => res.json())
    .then((data) => data as ClotheItem[])[0];

const clothes = clothesJson.items.filter(
    (item) => item.id.toString() != id?.toString(),
);
---

<section id="SimilarItems" class="space-y-8">
    <h2 class="text text-start font-bold tracking-tight text-3xl">
        {'Articulos similares'}
    </h2>
    <ul class="grid grid-cols-3 gap-2 md:grid-cols-3 lg:grid-cols-4 lg:gap-6">
        {
            clothes.map(({ id, title, price, discount, images }) => (
                <li>
                    <a
                        href={`/item/${id}`}
                        class="flex flex-col gap-1 rounded-lg border border-default bg-offset p-0 lg:items-start lg:gap-4 lg:p-2"
                    >
                        <img
                            src={`https://raw.githubusercontent.com/melushclothes/website/main/src/assets/clothes/${images[0]}.webp`}
                            alt={title}
                            class="aspect-square h-auto w-full rounded-lg object-cover"
                        />
                        <div class="flex w-full flex-col gap-2">
                            <h3 class="hidden font-semibold text-lg lg:block ">
                                {title}
                            </h3>
                            <PriceC
                                price={price}
                                discount={discount}
                                compress={true}
                            />
                        </div>
                    </a>
                </li>
            ))
        }
    </ul>
</section>
