---
import ProductCarousel from '~/components/product-carousel.svelte';
import ContentSection from '~/components/content-section.astro';
import PriceC from '~/components/price_section.astro';
import type { ClotheItem } from '~/types';
import Carousel from './carousel.svelte';
import Colors from './colors.astro';

const bannedItems = ['984371e5-2aee-4884-84a0-4d92ae761b8e']

const clothes = await fetch('https://api.melushstore.com/store_public')
    .then((res) => res.json())
    .then((data) => data as ClotheItem[])
    .then((data) => data.filter(({ imagesUrl }) => imagesUrl.length > 0))
    .then((data) => data.filter(({ id }) => !bannedItems.includes(id)))

---

<ContentSection id="catalogue">
    <ProductCarousel client:idle>
      <ul class="grid max-w-7xl grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
        {
        clothes == null ? (
          <li>Loading...</li>
        ) : (
        clothes.map(({ id, title, materials, sizes, price, discount, imagesUrl, colors }) => (
        <li>
            <a class="flex flex-col items-start gap-4 rounded-lg border border-default bg-offset p-2" href={`/item/${id}`}>
              {imagesUrl && <Carousel client:load images={imagesUrl}/>} 
              <header class="text-center font-extrabold text-xl">{title}</header>
              <Colors colors={colors}/>
              <section class="flex w-full justify-between space-x-4">
                <p class="text text-base">Materiales</p>
                <p class="truncate font-semibold text-offset text-base">
                {materials.map(({ name }) => name).join(', ')}
                </p>
              </section>
              <section class="flex w-full justify-between">
                <p class="text text-base">Tallas</p>
                <p class="font-semibold text-offset text-base">
                {sizes.map(({ name }) => name).join(', ')}
                </p>
              </section>
              <PriceC price={price} discount={discount} />
          </a>
          </li>
        ))
        )
      }
    </ul>
  </ProductCarousel>
</ContentSection>
